
body {
  text-align: center;
}

#title {
  color: #364f6b;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}

#title_span {
  color: #3fc1c9;
  font-size: 4rem;
  font-weight: bold;
}

#card_container{
  padding: 20px 20px;
  margin-bottom: 30px;
}

.card {
  margin-bottom: 15px;
}

button {
  all: unset;
}

.button {
  background-color: #364f6b;
  font-size: 2rem;
  display: block;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

#addTracker {
  margin-bottom: 5px;
}

#buttons {
  color: white;
  right: 60px;
  bottom: 60px;
  position: fixed;
}

.card-btn {
  background: #3fc1c9;
  border: none;
}

.card-btn:hover {
  background: #2fa1a9;
}
