
body {
  text-align: center;
  background: #364f6b;
}

#title {
  color: #fff;
  font-size: 3rem;
  margin-top: 60px;
  margin-bottom: 60px;
}

#title-span {
  color: #3fc1c9;
  font-size: 3rem;
}

/* Card CSS */

#card-container{
  padding: 20px 20px;
  margin-bottom: 30px;
}

.card {
  margin-bottom: 15px;
  transition: .1s ease;
}

.card:hover {
  transform: scale(1.01);
}

.card-btn {
  background: #3fc1c9;
  border: none;
}

.card-btn:hover {
  background: #2fa1a9;
}

.remove-btn {
  font-size: .7;
}

button {
  all: unset;
}

.button {
  border-radius: 50%;
  width: 6vh;
  height: 6vh;
  background: #2fa1a9;
}

.button::before {
  content: "+";
  height: 6vh;
  width: 6vh;
  font-size: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: courier;
  color: white;
}

.button:hover {
  background-color: rgb(64,128,148);
}

/* Control CSS */

#control {
  color: white;
  right: 30px;
  bottom: 20px;
  position: fixed;
}

#add-tracker {
  margin-bottom: 5px;
}

.current-weather {
  font-size: 7rem;
}

.temp {
  font-size: 1.6rem;
  font-weight: bold;
}

.rain {
  font-size: 4rem;
}

.time {
  font-size: 1.6rem;
}

.loading-spinner {
  position: absolute;

  margin: 0 auto;
  top: 50%;

  width: 8rem;
  height: 8rem;
  margin-top: -4rem;
  margin-left: -4rem;
}

.remove-btn {
  text-align: right;
  transition: ease-in-out width .2s;
  width: 15px;
}

.remove-icon {
  padding-right: .5px;
  color: #fff;
}

.remove-btn:hover {
  width: 90px;
}

.remove-text {
  color: #fff;
  user-select: none;
  opacity: 0;
  position: absolute;
  transition: ease-in-out opacity .2s;
  transform: translateX(-75px);
}

.remove-btn:hover .remove-text{
  opacity: 1;
}
