
body {
  text-align: center;
  background: #364f6b;
}

#title {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}

#title-span {
  color: #3fc1c9;
  font-size: 4rem;
  font-weight: bold;
}

/* Card CSS */

#card-container{
  padding: 20px 20px;
  margin-bottom: 30px;
}

.card {
  margin-bottom: 15px;
  transition: .1s ease;
}

.card:hover {
  transform: scale(1.01);
}

.card-btn {
  background: #3fc1c9;
  border: none;
}

.card-btn:hover {
  background: #2fa1a9;
}

.remove-btn {
  font-size: .7;
}

button {
  all: unset;
}

.button {
  background-color: #3fc1c9;
  color: #fff;
  font-size: 2rem;
  display: block;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  transition: 0.5s;
}

.button:hover {
  background: #2fa1a9;
}

/* Control CSS */

#control {
  color: white;
  right: 60px;
  bottom: 60px;
  position: fixed;
}

#add-tracker {
  margin-bottom: 5px;
}

.current-weather {
  font-size: 7rem;
}

.temp {
  font-size: 1.6rem;
  font-weight: bold;
}

.rain {
  font-size: 4rem;
}

.time {
  font-size: 1.6rem;
}

#trash-icon {
  margin-left: 10px
}

.loading-spinner {
  position: absolute;
  margin: 0 auto;
  top: 40%;
  width: 6rem;
  height: 6rem;
}
